    body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

input,
select,
button {
    padding: 10px;
}

input,
select {
    flex: 1;
}

button {
    cursor: pointer;
}

.employee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
}