body {
    font-family: Arial;
    margin: 30px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#error {
    color: red;
}

.employee {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
}

.delete {
    background-color: red;
    color: white;
}